<% breadcrumb :reorder_admin_photos %>
<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<% @tags.each do |tag| %>
  <% if Photo.tagged_with(tag.name).any? %>
  <div class='photo-tag-group'>
  <%= content_tag :h2, tag.name  %>
    <div class='big-grid' data-role="activerecord_sortable">
	    <% Photo.tagged_with(tag.name).order(row_order: :desc).each_with_index do |photo, index| %>
	      <%= render :partial => 'mini_photo', locals: {photo: photo, index: index} %>

	    <% end %>
    </div>
  </div>
  <% end %>
<% end %>




