<% breadcrumb :reorder_admin_photos %>
<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<% Tag.by_position.each do |tag| %>
  <% if Photo.tagged_with(tag.name).any? %>
  <div class='photo-tag-group'>
 	 <%= content_tag :h2, tag.name  %>
	  <div class='big-grid sortable'>
		<% @photos.select{|photo| photo.taggings.map{|tagging| tagging.tag.name}.include?(tag.name)}.each do |photo| %>
	    <%= render :partial => 'mini_photo', locals: {photo: photo} %>
	  <% end %>
	  </div>
  </div>
  <% end %>
<% end %>




