<% breadcrumb :reorder_admin_photos %>
<p id="notice"><%= notice %></p>

<h1>Photos</h1>




  <% Tag.all.each do |tag| %>
    <% if Photo.tagged_with(tag.name).any? %>
    <div class='photo-tag-group'>
    <%= content_tag :h2, tag.name  %>
    <div class='big-grid sortable'>
    <% Photo.tagged_with(tag.name).each do |photo| %>
      <%= content_tag :div, class: "row-item reorder-pic", data: {item_id: photo.id, post_path: url_for([:update_row_order, :admin, :photos])} do %>
        <%= image_tag photo.image.url(:thumb) %>
      <% end %>
    <% end %>
    </div>
    </div>
    <% end %>
  <% end %>




