<%= select_tag :change_photo_size, options_for_select(['1200', '1100', '1000', '900', '800', '700', '600']), class: 'change-photo-size' %>
<div class='grid one-up changeable-grid'>
  <% @tags.each do |tag| %>
    <% if Tag.first_asset_for_tag_with_image(tag) %>
      <div class='grid-item'>
        <div class='grid-item-container'>
          <% if Tag.assets_for_tag(tag).first.try(:image) %>
            <%= link_to retina_image_tag(Tag.assets_for_tag(tag).first.image, :main, class: "grid-item-main-image"), tag_path(tag) %>
          <% else %>
            <%= link_to image_tag(Tag.assets_for_tag(tag).first.image_url, class: "grid-item-main-image"), tag_path(tag) %>
          <% end %>
          <%= content_tag :h2, link_to(tag.name.titleize, tag_path(tag)), class: 'front-tag' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>