<h2><%= @tag.name.titleize %></h2>

<div class='grid one-up'>
  <% @assets.each do |asset| %>
    <div class='grid-item'>
      <div class='grid-item-container'>
        <!-- TODO: asset shouldn't care whether or not it is a video -->
        <% if asset.try(:image) %>
          <%= image_tag asset.image, class: "grid-item-main-image" %>
        <% else %>
          <%= render partial: 'shared/embed_video', locals: {address: asset.embed_address} %>
        <% end %>
        <%= asset.caption.html_safe %>
      </div>
    </div>
  <% end %>
</div>