<% breadcrumb :admin_tag, @tag %>
<%= form_for(admin_tag, url: admin_tags_path) do |f| %>


  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>    
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
