$lightblue: lightblue;

.code-text-area{
  min-height:500px;
}

.help-text{
  font-size:12px;
}

// sort row
.row-item .handle{
  cursor:move;
}  

.row-item.reorder-pic{
  float:left;
  clear:none;
  margin:5px;
}

.btn-bottom{
  margin-top:5px;
}

.show-image{
  max-width:100%;
}

.btn-xs{
  padding: 0.2rem 0.2rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.2rem; 
}



.payment-security{
  margin:10px 0;
}


@media screen and (min-width: 1200px) {
  .btn-bottom{
    margin-top:0px;
  }
}