html, body{
  height:100%;
}
form{
  height:100%;
  width:100%;
  float:left;
  clear:both;
}
form .actions{
  margin-bottom:10px;
}

.best_in_place{
  border-bottom:1px dotted blue;
  cursor:pointer;
}

form trix-editor, form trix-editor.form-control{
  min-height:400px;
}
