.variant-manager{
  clear:both;
}

.variant-manager-variant{
  padding:30px 0;
  box-sizing:border-box;
}

.select-product-photo{
  float:left;
  margin:3px;
  cursor:pointer;
  opacity:0.7;
  width:50px;
  height:50px;
  &.active, &:hover{
    opacity:1;
  }
  &.inactive{
    opacity:0.3;
  }
  &.inactive:hover{
   opacity:0.7; 
  }
}

.select-product-photos{
  display: block;
  height: 205px;
  width: 100%;
  overflow-y: auto;
}
.store-form-photo{
  max-width:100%;
}

.btn-full{
  width:100%;
  background: #23A14D;
  color:white;
  &:active, &:focus, &:visited{
    background: #23A14D;
    color:white;
  }
  &:hover{
   background:darken( #23A14D, 20%); 
  }
}


body.admin-products-index .grid-item-main-image{
  height: 50px;
  width: 50px;
}