<%= form_for [:admin, @theme] do |f| %>
  <div class='control-group'>
    <%= f.label :css, "Enter some css:" %>
    <%= f.text_area :css, class: "form-control code-text-area" %>
  </div>
  
  <%= f.button "Submit", class: "btn btn-default" %>
<% end %>