$grey: grey;
$error: red;
$lightblue: lightblue;
$yag: grey;
// SHOPPING BAG

#shopping-cart-icon {
  width: 69px;
  height:62px;
  text-align: center;
  float: right;
  position: relative;
  z-index: 99;
  .item-count {
    display: block;
    font-size: 10px;
    text-align: center;
  }
}

// cart positioned off screen
.cart-slice {
  height: 100%;
  width: 300px;
  display: block;
  position: fixed;
  overflow: visible;
  right: -301px;
  top: 0;
  background: white;
  z-index: 10000;
  border-left: 1px solid $grey;
  transition: right 500ms;

  .alert{
    width: auto;
    margin-top: 10px;
    margin-right: 15px;
    float: left;
  }
  .change-quantity-to{
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
  }
  .slice {
    width: 100%;
    //border-bottom: 1px solid $grey;
    padding: 10px 15px;
    float: left;
    clear: both;
    position: relative;
    box-sizing: border-box;
  }
  .item-image {
    float: left;
    padding-right: 20px;
  }

  .item-variant-choice {
    font-size: 14px;
    font-style: italic;
    width: auto;
    margin-top: 10px;
    float: left;
  }
  .slice-value {
    position: absolute;
    bottom: 5px;
    right: 10px;

  }
  .item-slice-info {
    width: 70%;
    float: left;
  }
  .item-slice{
    width:100%;
    position:relative;
    float:left;
    clear:left;
    .item-name{
      float:left;
      a{
        display:block;
      }
    }
    .item-name .variant-names{
      display:block;
      font-size:14px;
      font-variant:italic;
    }
  }
  
  
  .quantity-manager {
    width: auto;

    margin-right: 15px;
    float: left;

    .increment-quantity {
      font-size: 16px;
      cursor: pointer;
      text-decoration:none;
    }
    .decrement-quantity {
      font-size: 16px;
      top: -1px;
      position: relative;
      font-size: 14px;
      cursor: pointer;
      text-decoration:none;
    }
    .quantity {
      padding: 0 15px;
    }
  }
  .quantity-manager.loading{
    pointer-events: none;
    .increment-quantity, .decrement-quantity{
      pointer-events:none;
      color:rgba(0,0,0,0.5);
    }
    .quantity{
      visibility:hidden;
    }
  }

  // closed trigger
  a.cart-trigger{
    width:50px;
    height:50px;
    position:absolute;
    float:left;
    left:-50px;
    display:block;
    text-align:right;
    z-index: 1;
    transition: left 200ms ease-in;
    img{
      width:100%;
    }
  }
  
}

// cart slice open
.cart-slice.active {
  transition: right 500ms;
  right: 0px;
  overflow:visible;
  a.cart-trigger{
    transition: left 200ms ease-in;
    left:0;
  }
}

#total-slices {
  padding: 8px 15px;
  position: relative;
  float:left;
  clear:both;
  width: 100%;
  .slice {
    padding: 20px;
  }
  .bag-subtotal-slice {
    background: gray;
  }
  .bag-total-slice {
    color: lightblue;
  }
  .slice-value {
    position: absolute;
    bottom: 15px;
    right: 10px;
  }
}

.bag-checkout-slice {
  background: #23A14D;

  font-weight: 300;
  color: white;
  letter-spacing: 0.2em;
  a, a:visited{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2px;
    width: 190px;
    margin: 0 auto;
    padding: 4px;
  }
}
.shop-coupon-code-link{
  label{
    cursor:pointer;    
  }
}

header#main, section.seller-item-group{
  span.cart-shop-name{
    padding:10px 20px;
    box-sizing: border-box;
    width:100%;
    float:left;
    border-bottom: 1px solid black;
  }
  .coupon-error-container{
    color:$error;
    font-size: 10px;
        line-height: 1.5;
  }
  span.cart-shop-name-label{
    float:left;
    font-size:16px;
  }
  a.cart-shop-name-link{
    margin-left:10px;
    float:left;
    font-size:16px;
    letter-spacing: 0.11em;
    text-transform: none;
    font-weight: 600;
  }
  .cart-shop-enter-coupon-code{
   float:right; 
   clear:right;
   box-sizing: border-box;
   padding:10px;
   width:300px;
   form{
     label{
       display:block;

     }   
     .hidden-container{
       &.hidden{
         display:none;       
       }
       a.more-info-link{
         font-size:10px;
         text-transform:none;
         font-style:italic;
         letter-spacing:inherit;
         text-decoration:underline;
       }
       input{
         height:25px;
       }
       .btn-thin{
         height:25px;
         padding:0;
       }
     }
   }
  }
}
section.seller-item-group{
  .cart-shop-enter-coupon-code{
    padding: 10px 0;
    width: 100%;
  }
}
.seller-group{
  float: left;
  width: 100%;
  clear: both;
  border-bottom: 1px solid black;
  position:relative;
  min-height:300px;
}

.item-price-total{
  float:right;
  clear:both;
}
.shop-totals-and-coupons{
   box-sizing: border-box;
    position:absolute;
    right:0;
    top:45px;
    width:300px;
    height: calc(100% - 45px);
    border-left:1px solid black;
}
.shop-line-items{
  float:left;
  width:calc(100% - 300px);
}
.cart-shop-totals{
   box-sizing: border-box;
  clear:both;
  padding:10px;
  .shop{
    float:right;
    clear:right;
    display:block;
    width:100%;
    text-align:right;
    &.bag-total-slice {
      border-top:1px solid $grey;
      margin-top:5px;
      padding-top:5px;
    }
  }
  span{
    text-align:right;
    &.label{
      margin-right:10px;
      float:left;
      text-align:left;
      &.coupon{
        color:$lightblue;
        font-weight:600;
      }
    }
    &.value{
      display:inline-block;
      width:100px;
      -webkit-font-smoothing: antialiased;
      font-family: "open-sans";
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.2em;
    }
  }
}

header.cart-header {
  color: black;
  background: white;
  padding:0;
  box-sizing: border-box;
  clear: both;
  float: left;
  width: 100%;
}

footer.cart-footer{
  position:absolute;
  width:100%;
  bottom:0;
}


div.main.cart-open{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height:100%;

}


#mobile-shopping-bag{
  .bag-item-count{
    font-size:12px;
  }
}
.checkout-btn-slice{
  text-align:center;
}
// END SHOPPING BACK
.coupon-spinner.hidden{
  display:none;
}
.cart-checkout.disabled{
  color:white;
  background:$grey;
  border:0px;
}

.cart-line-items{
  color: black;
  background: white;
  padding: 10px 0 12px 0px;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  overflow-y:auto;
  width: 100%;
  height:calc(100% - 200px);

}






.checkout-order-subtotal p{
  width:100%;
  font-size:16px;
  margin:5px 0;
  padding-right:10px;
}

.checkout-order-subtotal p span{
  float:right;
}
.cart-subtotal.grand-total{
  border-top:1px solid black;
  padding-top:4px;
}
.cart-subtotal{ 
  width:100%;
  float:left;
  clear:both;
  span:first-of-type{
    margin-right:3px;
    float:left;
  }
  span:last-of-type{
    float:right;
  }
  p {
    float:left;
    width:100%;
    margin-bottom:7px;
  }
}

.cart-empty-contents{
  float: right;
  padding-right: 5px;
}

.nothing-here-container{
  padding-left:20px;
}


.cart-header-top{
  float:left;
  text-align:right;
  box-sizing:border-box;
  padding-right:10px;
  width:100%;
  height:50px;
  line-height:50px;
  background:black;
  color:white;
  position:relative;
  z-index:100;
  h2{
    line-height:50px;
    font-size:20px;
    text-align:center;
    text-transform:lowercase;
  }
}

.close-cart{
  float:left;
  padding:0 6px;
  font-size:40px;
  line-height:50px;
  width:32px;
  cursor:pointer;
}


#display-cart{
  height:100%;
}

.item-name a{
  font-size:14px;
  text-decoration:none;
}

.item-slice-manage{
  width:100%;
  float:left;
  clear:both;
  margin-top:4px;
  height:20px;
  .item-price-total{
    float:right;
    clear:none;
  }
}