.item-price-total{
    font-size:14px;  
  span.label{
    color:black;    
    font-weight:300;
    padding:4px 4px 4px 0px;
    font-size:14px;
  }
}

.order-summary{
  overflow:hidden;  
  margin:10px 0;
}

.order-summary span.quantity{
  display:block;
}

.shipping-address.hidden{
  display:none;
}

.wizard-step.active {
  pointer-events: auto;
}

.wizard-step.inactive {
  pointer-events: none;
  opacity:0.4;
   > * {
    opacity:0.4;
  }
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 0.8em;
  opacity: 0;
  width:0;
  position:absolute;
  
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  &.filled{
    opacity:1;
    width:auto;
    margin:3px 0;
    position:absolute;
  };
  li{
    color:red;
  }
}

.stripe-fields .payment-errors{
  color:red;
  text-align: center;
  padding-bottom: 10px;
}



.edit_order{
   label{
     width:200px;
     cursor:pointer;
   } 
   .billing-address, .shipping-address{
     margin-top:20px;
     float:left;
     clear:both;
     
     h2{
       margin-bottom:8px;
     }
   }
   input[type="text"], input[type="email"]{
     min-width: 250px;
   }
   select{
     width:250px;
   }
}
.checkout-order-item{
  overflow:hidden;
} 

body.orders-new .elp-container.center:not(.header){
  text-align:left;
  .checkout-order-subtotal{ 
    width:300px;
    float:left;
    clear:both;
    span:first-of-type{
      margin-right:3px;
      float:left;
    }
    span:last-of-type{
      float:right;
    }
    p {
      float:left;
    }
  }
  .checkout-order-subtotal.grand-total{
    border-top:1px solid black;
  }
}
.btn.ship-to-same, .btn.enter-shipping-address{
  margin-top:5px;
  text-decoration:none;
}


a.btn.disabled.hidden{
  display:none;
}

.stripe-fields, .paypal-fields{
  float:left;
  clear:both;
}
form#submit-payment{
  margin-top: 20px;
  padding-bottom: 20px;
  float:left;
  clear:both;
}

.payment-chooser{
  padding:10px 10px 10px 0;
  float:left;
}

.payment-method-info{
  float:left;
  
}

.stripe-info img{
  margin-top:21px;
}


