// Drop Menu
$lightblue: lightblue;
$lightblue-20: lightblue;
.drop-menu{
  border:1px solid $lightblue;
  display:inline-block;
  padding:0px;
  min-width:125px;
  position:relative;
}

.drop-menu-header{
  padding:10px 0px 5px 0px;
  text-align:left;
  text-indent:15px;
  cursor:pointer;
  border-bottom:0px solid $lightblue;
  background:white;
  position:relative;
  z-index:101;

  &:after{
    content: '';
    background:image-url('down.png') no-repeat;
    position:absolute;
    right:8px;
    top:12px;
    width:15px;
    height:10px;
    background-size:65%;
  };
}

.filter-order .drop-menu-header{
  &:after{
    content: '';
    background:image-url('filter_down.png') no-repeat;
    position:absolute;
    right:16px;
    top:12px;
    width:15px;
    height:10px;
    background-size:65%;
  };
}

.drop-menu-heading{
  font-size:12px;
  color:$lightblue;
  text-transform:uppercase;
  &.subhead{
    font-size:12px;
  }
}
.drop-menu-items{
  max-height:0px;
  position:absolute;
  left:0;
  top:31px;
  overflow:hidden;
  transition: all 100ms ease-in;
  z-index:100;
  border:1px solid $lightblue;
  width:99%;
}

.drop-menu.active .drop-menu-items{
  padding:5px 0px;
  max-height:600px;
  overflow:hidden;
  width:100%;
  left:-1px;
  transition: all 100ms ease-in;
  background:white;
  z-index:102;
}


.drop-menu-item{

  color:$lightblue;
  padding:3px 0 3px 7px;
  cursor:pointer;
  width:100%;
  &:hover{
    background:$lightblue-20;
  };
  a{
    font-size:12px;
  }
}