// Drop Menu
$lightblue: black;
$lightblue-20: black;
.drop-menu{
  border:1px solid black;
  display:inline-block;

  min-width:50px;
  width:auto;
  position:relative;
}

.drop-menu-header{
  padding:5px 0px;
  text-align:center;

  cursor:pointer;
  border-bottom:0px solid black;
  background:white;
  position:relative;
  z-index:101;
  &:hover{
    background-color:#0F0;
  };
}

.filter-order .drop-menu-header{
  &:after{
    content: '';
    background:asset-url('filter_down.png') no-repeat;
    position:absolute;
    right:16px;
    top:12px;
    width:15px;
    height:10px;
    background-size:65%;
  };
}

.drop-menu-heading{
  font-size:12px;
  color:black;
  text-transform:uppercase;
  &.subhead{
    font-size:12px;
    line-height:1;
    margin:0;
  }
}
.drop-menu-items{
  max-height:0px;
  margin:0;
  position:absolute;
  left:-1px;
  top:22px;
  overflow:hidden;
  transition: height 100ms ease-in;
  z-index:100;


}

.drop-menu.active .drop-menu-items{
  padding:0px;
  max-height:600px;
  overflow:hidden;
  width:100%;
  left:-1px;
  transition: height 100ms ease-in;
  background:white;
  z-index:102;
  border:1px solid black;
  box-sizing:content-box;
}


.drop-menu-item{
  color:black;
  padding:3px 0 3px 0px;
  cursor:pointer;
  width:100%;
  &:hover{
    background:lightgrey;
    color:black;
  };
  a{
    font-size:12px;
  }
}