// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// product index 

// mobile up!


.grid{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  max-width:100%;
}

.grid.one-up{
  max-width:800px;
  margin:0 auto;
}

.grid-item{
  width:100%;
  box-sizing:border-box;
  padding:30px 10px;
  overflow:hidden;
}

.grid-item-container{
  margin:0 auto;
  text-align:center;
}

.grid-item-main-image{
  width:100%; 
}


.grid-item-contents{
  margin-top:10px;
  overflow:visible;
  padding-bottom:10px;
}



.embed-container {
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
}
 
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}


.grid-split .grid-split-right .product-view-price{
  float:left;
}

.grid-split .grid-split-right .product-view-name-link{
  font-size:20px;
  line-height:1;
  text-decoration:none;
  pointer-events:none;
  float:none;
  clear:both;
  display:block;
}

@media screen and (min-width: 800px) {
  .grid:not(.one-up){
    flex-direction: row;
    .grid-item{
      width:50%;
    }
  }
  
  .grid-item{
    padding:60px 10px;
  }
  
  .grid-split .grid-split-left{
    float:left;
    width:50%;
    padding:0 10px;
    box-sizing:border-box;
  }
  
  .grid-split .grid-split-right{
    float:left;
    width:50%;
    padding:0 10px;
    box-sizing:border-box;
  }
  
  .grid-item-contents.grid-split-right{
    margin-top:0px;
  }
  
  .grid-split .grid-split-right .product-view-name-link{
    font-size:60px;
    line-height:1;
    text-decoration:none;
    pointer-events:none;
    float:none;
    clear:both;
    display:block;
    margin-top:-8px;
    
  }

  .grid-split .grid-split-right .product-view-price{
    text-align:center;
    float:left;
    clear:both;
    margin-top:10px;
    margin-bottom: 10px;
    display:block;
  }
  
  .grid-split .grid-split-right .item-quantity-and-options{
    float:none;
    margin:5px auto;
    overflow:hidden;
  }
  
  .grid-split .grid-split-right .add-to-cart-container{
    float:left;
    margin:10px 0;
    width:200px;
  }
}


@media screen and (min-width: 1020px) {
  .grid:not(.one-up){
    .grid-item{
      width:33.333%;
      width: calc(100% / 3);
    }  
  }
  
}