$kellygreen: #23A14D;

header.front-header h1, header.front-header h1 a{
  text-decoration:none;
  margin:20px 0;
  line-height:0.8;
}

nav.front-navigation a{
  margin:0 3px;  
  text-decoration:none;
  font-size:12px;
  &:hover{
    color:lighten($kellygreen, 5%);
  };
}

nav a:hover, nav a:visited, nav a:active{
  text-decoration:none; 
};

nav.front-navigation a.active{
  color:$kellygreen;
}



nav.main-navigation{
  padding-top:10px;
  border-top:1px solid black;
  width:300px;
  margin:0 auto;
}

nav.main-navigation a{
  text-transform:uppercase;
  font-weight: 700;
}

nav.category-navigation{
 margin-bottom:10px; 
}

nav.category-navigation a{
  font-size:18px;
}