// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2.front-tag{
  position:relative;
  top:-47px;  
}

h2.front-tag a{
  font-size:60px;
  text-transform:lowercase;
  font-weight:700;
  text-decoration:none;
  &:hover{
    color:#23A14D;
  }
}



// move to contact

form.contact-form{
  max-width: 800px;
  margin: 40px auto;
  clear: both;
  float: none;
  label{
    text-align:left;
    margin:0 0 10px 0;
    float:left;
  }
}


// About PAGE
body.home-about{
  .my-about-page-content{
    float:left;
    max-width:920px;
    margin-right:50px;
    text-align:left;
    h2{
      font-size:70px;
    }
    p{
      letter-spacing: 0.035em;
      line-height: 1.35;
    }
  }
  .my-about-page-image-section{
    float:left;
    clear:left;
    margin: 20px 0 50px 0;
    max-width:920px;
    img{
      width:100%;
    }
    p{
      text-align:center;
    }
  }
}


// CONTACT PAGE
body.home-contact{
  
  
}