%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;

}


select#line_item_variant_id{
  @extend %visuallyhidden;
}


.item-quantity-and-options{
  float:left;
  clear:both;
  margin:5px 0;
}

.add-to-cart-container{
  float:left;
  clear:both;
}

// product view
.product-view-name-link{
  float:left;
  text-align:left;
}

.product-view-price{
  float:left;
}

.product-view-description{
  margin:10px 0;
  clear:both;
  line-height:1.5;
  text-align:left;
}