$kellygreen: #23A14D;
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;

}


select#line_item_variant_id{
  @extend %visuallyhidden;
}


.item-quantity-and-options{
  float:left;
  clear:both;
  margin:5px 0;
}

.add-to-cart-container{
  float:left;
  clear:both;
  width:100%;
  margin:10px auto;
}

// product view
.product-view-name-link{
  float:left;
  text-align:left;
  width:calc(100% - 100px);
}

.product-view-price{
  float:right;
  width:100px;
  text-align:right;
}

.product-view-description{
  margin:10px 0;
  clear:both;
  line-height:1.5;
  text-align:left;
}
.grid-split-right .product-view-price{
  float:right;
  width:auto;
}


form.add-item-to-cart input[type='submit']{
  width:100%;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 2px;
  margin: 0 auto;
  padding: 4px;
  background: $kellygreen;
  &:not([disabled]):hover{
    background: darken($kellygreen, 5%);
  };
}

