.order-contents.receipt{
  text-align:left;
}

.main-order-information{
  text-align:left;
}

.buyer-information{
  text-align:left;
}

.buyer-information address{
  margin-top:20px;
}
.buyer-information p:first-of-type{
  margin-bottom:10px;
}

.order-item p{
  margin-top:3px;
}

.main-order-information p{
  margin-top:3px;
}
