<h2>Prints Available For Purchase</h2>

<div class='products grid'>
<% @products.each do |product| %>
  <div class='product grid-item'>
    <div class='grid-item-container'>
        <%= product.bp_view(cart: @cart).image %>
      <div class='grid-item-contents'>
        <%= product.bp_view(cart: @cart).name_and_link %>
        <%= product.bp_view(cart: @cart).price %>
      </div>

    </div>
  </div>
<% end %>  
</div>
